<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New message</title>
</head>
<body>
    <h3>New message</h3>
    <form method="post" action="/new">
        <label for="author">Author</label>
        <input type="text" name="messageUser">
        <label for="message">Message</label>
        <input type="text" name="messageText">
        <button type="submit">OK</button>
    </form>
    <a href="/">Back to home</a>
</body>
</html>