<div class="card">
    <div class="line"></div>
    <div>
        <h4>Super Cool Project</h4>
        <p>sed tempus ut lacus ut scelerisque. Suspendisse sollicitudin nibh erat, id facilisis felis
            accumsan nec.</p>
        <div>
            <img src="icons/star.svg" alt="star plus">
            <img src="icons/eye.svg" alt="eye">
            <img src="icons/share.svg" alt="share variant">
        </div>
    </div>
</div>
<div class="card">
    <div class="line"></div>
    <div>
        <h4>Super Cool Project</h4>
        <p>sed tempus ut lacus ut scelerisque. Suspendisse sollicitudin nibh erat, id facilisis felis
            accumsan nec.</p>
        <div>
            <img src="icons/star.svg" alt="star plus">
            <img src="icons/eye.svg" alt="eye">
            <img src="icons/share.svg" alt="share variant">
        </div>
    </div>
</div>
<div class="card">
    <div class="line"></div>
    <div>
        <h4>Super Cool Project</h4>
        <p>sed tempus ut lacus ut scelerisque. Suspendisse sollicitudin nibh erat, id facilisis felis
            accumsan nec.</p>
        <div>
            <img src="icons/star.svg" alt="star plus">
            <img src="icons/eye.svg" alt="eye">
            <img src="icons/share.svg" alt="share variant">
        </div>
    </div>
</div>
<div class="card">
    <div class="line"></div>
    <div>
        <h4>Super Cool Project</h4>
        <p>sed tempus ut lacus ut scelerisque. Suspendisse sollicitudin nibh erat, id facilisis felis
            accumsan nec.</p>
        <div>
            <img src="icons/star.svg" alt="star plus">
            <img src="icons/eye.svg" alt="eye">
            <img src="icons/share.svg" alt="share variant">
        </div>
    </div>
</div>
<div class="card">
    <div class="line"></div>
    <div>
        <h4>Super Cool Project</h4>
        <p>sed tempus ut lacus ut scelerisque. Suspendisse sollicitudin nibh erat, id facilisis felis
            accumsan nec.</p>
        <div>
            <img src="icons/star.svg" alt="star plus">
            <img src="icons/eye.svg" alt="eye">
            <img src="icons/share.svg" alt="share variant">
        </div>
    </div>
</div>
<div class="card">
    <div class="line"></div>
    <div>
        <h4>Super Cool Project</h4>
        <p>sed tempus ut lacus ut scelerisque. Suspendisse sollicitudin nibh erat, id facilisis felis
            accumsan nec.</p>
        <div>
            <img src="icons/star.svg" alt="star plus">
            <img src="icons/eye.svg" alt="eye">
            <img src="icons/share.svg" alt="share variant">
        </div>
    </div>
</div>