<% if (locals.msgs) { %>
    <% msgs.forEach((msg) => { %>
        <div class="card">
            <div class="line"></div>
            <div>
                <h4>ID: <%- msg.user_id %></h4>
                <p><%- msg.message %></p>
            <div>
                    <img src="icons/star.svg" alt="star plus">
                    <img src="icons/eye.svg" alt="eye">
                    <img src="icons/share.svg" alt="share variant">
                </div>
            </div>
        </div>
    <% }); %>
<% } %>