<style>
    #newMsg {
        font-size: medium;
        padding-bottom: 80px; 
        line-height: 25px;
        border-radius: 10px;
    }
</style>

<div style="display: flex; flex-direction: column;">
    <% if (locals.errors) { %>
        <% errors.forEach((error) => { %>
            <p style="color: red;"><%- error %></p>
        <% }); %>
    <% } %>
    <form action="/msg" method="post" style="display: flex; flex-direction: column;">
        <input type="text" name="message" placeholder="type some message" id="newMsg" required>
        <button type="submit" style="align-self: flex-start;">Submit</button>
    </form>
</div>