<ul>
    <% items.forEach((item) => { %>
        <li>Name: <%= item.item %>, Quant: <%= item.quant %></li>
        <!-- This time we're sending a POST request to our route, so we need a form. -->
    <% }); %>
</ul>
    