body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}
.header {
    grid-column: 2 / 4;
    display: grid; 
    grid-row: 1 / 1;
}
.top-header {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}
.top-header > img {
    width: 30px;
}
.nav {
    display: grid;
    align-self: flex-start;
}
button {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    color: aliceblue;
    background-color: hsl(210, 50%, 50%);
    border: 0;
    font-weight: 600;
    font-size: 15px;
    margin: 15px;
}
.nav-button {
    align-self: center;
    grid-column: 3 / 3;
}
.greeting {
    margin-right: auto;
    grid-column: 2 / 3;
}
.sidebar {
    grid-row: 1 / 3;
    background-color: hsl(210, 40%, 30%);
    color: aliceblue;
    grid-row: 1 / 5;
}
.logo > img {
    width: 50px;
}
.logo {
    display: flex;
}
.sidebar-link > img {
    width: 30px;
}
.sidebar-link {
    display: flex;
    border: 0;
}
.projects {
    grid-column: 2 / 3;
}
.card > img {
    width: 30px;
}
